.list {
    width: 70%;
    margin: 50px auto;
}
.list__title {
    font-size: 40px;
}
.list__block {
    background: rgb(255, 255, 255);
    border: solid 2px rgb(227, 227, 227);
    border-radius: 5px;
}
.list__box {
    border-bottom: solid 2px rgb(227, 227, 227);
    padding: 25px;
}
.list__header {
    font-size: 25px;
}
.list__box--no-line {
    border: none;
}
.list__button {
    background: rgb(0, 116, 131);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(30, 111, 125);
    padding: 10px;
}