.list {
    width: 70%;
    margin: 50px auto;
}
.list__title {
    font-size: 40px;
}
.list__block {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(227, 227, 227);
    border-radius: 5px;
    margin-bottom: 10px;
}
.list__box {
    border-bottom: 2px solid rgb(227, 227, 227);
    padding: 25px;
}
.list__header {
    font-size: 25px;
    margin: 0;
}
.list__box--no-line {
    border: none;
}
.list__form {
    display: flex;
}
.list__input {
    padding: 10px;
    margin-right: 25px;
    flex: 1;
}
.list__button {
    background: rgb(0, 116, 131);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(30, 111, 125);
    padding: 10px;
}
.list__tasks-block {
    padding: 25px;
}
.list__tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list__action-button {
    border: none;
}
.list__action-button--done {
    background-color: rgb(24, 122, 30);
}
.list__action-button--remove {
    background-color: rgb(234, 42, 60);
}