.list {
    margin-top: 50px;
}
.list__title {
    font-size: 40px;
}
.list__block {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(227, 227, 227);
    border-radius: 5px;
    margin-bottom: 10px;
}
.list__box {
    border-bottom: 2px solid rgb(227, 227, 227);
    padding: 25px;
}
.list__header {
    font-size: 25px;
    margin: 0;
}
.list__box--no-line {
    border: none;
}
.list__form {
    display: flex;
}
.list__input {
    padding: 10px;
    margin-right: 25px;
    flex: 1;
}
.list__button {
    background: rgb(0, 116, 131);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(30, 111, 125);
    padding: 10px;
}
.list__button:hover {
    background: rgb(0, 141, 156);
    border-color: rgb(30, 136, 150);
}
.list__button:active {
    background: rgb(0, 167, 182);
}
.list__tasks-block {
    padding: 25px;
}
.list__tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list__tasks-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid rgb(227, 227, 227);
}
.list__tasks-item:last-child {
    border: none;
}
.list__action-button {
    width: 40px;
    height: 40px;
    border: none;
    flex-shrink: 0;
}
.list__action-button--done {
    background-color: rgb(24, 122, 30);
}
.list__action-button--done:hover {
    background-color: rgb(29, 142, 35);
}
.list__action-button--done:active {
    background-color: rgb(34, 162, 40);
}
.list__action-button--remove {
    background-color: rgb(234, 42, 60);
}
.list__action-button--remove:hover {
    background-color: rgb(249, 53, 72);
}
.list__action-button--remove:active {
    background-color: rgb(251, 76, 91);
}
.list__tasks-content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    word-break: break-word;
    margin: 0;
    padding: 0 15px;
}
.list__tasks-content--done {
    text-decoration: line-through;
}
.list__icon {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.list__icon::before {
    margin: 0;
}

@media (max-width: 576px) {
    .list__title {
        font-size: 30px;
    }
    .list__header {
        font-size: 20px;
    }
    .list__form {
        flex-direction: column;
    }
    .list__input {
        margin: 0 0 15px;
    }
}